@import './color.scss';

.footer {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 180px 0px 180px;
  background-color: $gray800;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0;
  @extend .text
}

.text {
  flex-shrink: 0;
  white-space: pre;
  overflow: visible;
  position: relative;
  line-height: 1.2;
  color: $gray600;
  font-size: 16px;
}

.footerMenu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.conditionsMenu {
  display: flex;
  gap: 20px;
}